# 1. Read the student details (5 Marks)

- Read the student details from student.csv file into a pandas dataframe
- Print the first three entries of the pandas dataframe

In [1]:
import pandas as pd

In [2]:
student_data = pd.read_csv("student.csv")
student_data.head(3)

    name  roll  english  maths  science
0   Ajay     1       14     16        2
1   Arun     2       85     79       20
2  Badal     3       14     73       57

# 2. Create a class Student with the following details (15 Marks)

- Class Attributes
    - Name
    - Roll Number
    - Dictionary of marks. Stores the marks of three subjects (English, Maths and Science) in a python dictionary. Sample of marks :- {'eng':80, 'math':100, 'science':90}
    - Average marks

- Class Methods
    - Constructor __init__() : initialzes the student attributes
    - setAverage() : sets the average marks of a student
    - getName() : returns the name of the student
    - getRoll() : returns the name of the roll number of the student
    - getMarks() : returns the marks dictionary of the student
    - getAverage() : returns the average marks of the student
    - printDetails() : prints the student details

In [36]:
#Complete the implementaton3ass 

class Student():
    name = None
    roll = None
    marks = {}
    average_marks = 0
    
    #Constructor
    def __init__(self, data):
        self.name = data['name']
        self.roll = data['roll']
        self.marks = {'eng' : ( data['english'])  ,'math':(data['maths']) ,
                      'science': ( data['science']) }
        summission = 0 
        for i in self.marks: 
            summission = summission + self.marks[i] 
        self.average_marks = summission/len(self.marks)
        #Set name, marks and marks using data. 
        #Assume data to be a python list containing all the information sequentially as in student.csv file.
        #Set average_marks by calling setAverage()

    #Computes average marks
    def setAverage(self):
        
        return self.average_marks
    
    #Returns the name of the sudent
    def getName(self):
        print(self.name)
        return self.name
    
    #Returns the roll number of the sudent
    def getRoll(self):
        return self.roll
    
    #Returns the marks dictionary of the sudent
    def getMarks(self):
        return self.marks
    
    #Returns the average marks of the sudent
    def getAverage(self):
        return self.average_marks
        #return ...
        
    #Prints the student details
    #def printDetails(self):
        
        #Printing format is up to you

# 3. Create a list of Student object (10 Marks)

- For each entry of the loaded data (in Question 1), create a object of Student class (created in Question 2).
- Store the objects in a python list named student_info

In [38]:
class_10th = Student(student_data)
#student_info = []
a = class_10th.getAverage()
print(a)

0     10.666667
1     61.333333
2     48.000000
3     78.333333
4     53.666667
5     33.000000
6     41.333333
7     48.666667
8     73.000000
9     81.666667
10    31.666667
11    47.000000
12    74.333333
13    82.333333
14    43.666667
15    62.000000
16    11.000000
17    65.666667
18    49.666667
19    62.000000
20    56.333333
21    61.333333
22    26.000000
23    54.333333
24    41.666667
25    60.333333
26    46.666667
27    60.666667
28    38.333333
29    63.000000
dtype: float64

# 4. Print the highest mark in Maths (2 Marks)

In [7]:
student_data['maths'].max()

98

# 5. Print the lowest mark in English along with the name of the student/students who obtained it (3 Marks)

In [8]:
student_data['english'].min()

14

# 6. Print the list of students (only name) who scored strictly greater than the class average in Science  (5 Marks)

# 7. Print the name of top 5 students based on average marks (10 Marks)

- Sort the list of students based on average_marks
- Print the top five entries of the sorted list. No need to check for ties.

In [ ]:
top5 = (student_data['maths'] & student_data['maths']